<p id="notice"><%= notice %></p>

<div class="row" data-product-id="<%= @product.id %>">

  <%= image_tag(@product.image_url, width: "50%", class: "img-responsive img-zoom", data_zoom_image: @product.image_url) %>

  <% cache @product do %>
  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= @product.image_url %>
  </p>

  <p>
    <strong>Colour:</strong>
    <%= @product.colour %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>

  <% end %>

  <p>Average Rating: <div class="rated" id="#average-rating" data-score="<%= @product.average_rating %>"></div> </p>

  <%= @product.highest_rating_comment.try(:body) %>

  <%= render 'comments' %>

  <%= form_tag "/payments/create" do %>
  <%= hidden_field_tag(:product_id, @product.id) %>
  <%= render partial: "/shared/stripe_checkout_button.html.erb" %>
  <% end %>

  <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>

  <%= render 'new_comment' %>

  <%= will_paginate @comments %>

  <%= link_to 'Edit', edit_product_path(@product) %> 
  <%= link_to 'Back', products_path %>
</div>

