<!DOCTYPE html>
<html>
<head>
  <title>Firstrailsapp</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>

<body>
  <!-- navbar starts here -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <!-- start navbar header -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="projectName navbar-brand">BERLIN RETRO</a>
    </div><!-- end navbar header -->
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "home", "/static_pages/landing_page" %>
        </li>
        <li>
          <%= link_to "products", products_path %>
        </li>
        <li>
        <%= link_to "about", "/static_pages/about" %>
        </li>
        <li>
          <%= link_to "contact", "/static_pages/contact" %>
        </li>     
      </ul>
    </div><!-- end navbar collapse -->
  </div><!-- end nav container -->
</nav><!-- end navbar -->

<%= yield %>

<!-- footer -->
<footer class="container-fluid">
  &copy; Katrin Bartels 2016
  <!-- footer social -->
  <div class="footer-social">
    <!-- twitter -->
    <a href="https://twitter.com/kat_bartels" class="twitter-follow-button" data-show-screen-name="false" data-show-count="false">Follow</a>
    <!-- end twitter -->
    <!--facebook -->
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <div class="fb-share-button" data-href="http://katrinbartels.bitballoon.com/" data-layout="button" data-mobile-iframe="true">
      <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fkatrinbartels.bitballoon.com%2F&amp;src=sdkpreparse">Teilen</a>
    </div><!-- end facebook -->
  </div><!-- end footer-social -->
</footer><!-- end footer -->
</body>
</html>
